---
import Root from '../layouts/Root.astro';
---

<Root>
	<header>

	</header>

	<!-- HERO SECTION -->
	 <main class="space-y-8 p-2">
		 <section class="pt-12 pb-6 px-4 border space-y-12">
			 <h1 class="text-[2.2rem] md:text-[4rem] text-center">
				 <span class="font-bold">AInbox</span>
				 - stupidly simple LLM-driven ToDo App
				</h1>

				<div class="flex flex-col items-center text-center gap-6">
					<p class="text-lg md:text-[1.8rem]">
						For people who don't like ToDo apps. Minimize time learning and using an awkward interface and maximize productive problem-solving time
					</p>
					<a class="px-8 py-2 text-xl md:text-3xl border-2 rounded-lg hover:bg-black/5 transition" href="/subscribe">TRY APP</a>
				</div>
			</section>
			
			<section class="p-4 border space-y-4">
				<h2 class="text-[2rem] text-center">Features</h2>
				<ul class="md:flex gap-3 space-y-2 md:space-y-0 flex-wrap justify-center items-center">
					<li class="border rounded px-6 py-4 flex-1 text-center">
						<h3 class="md:text-2xl">Add tasks into inbox with featuring by LLM</h3>
						<p class="hidden md:block">Just type raw text of the tasks and AI will structure it with use of "priority", "deadline", "duration". You can edit tasks after creation</p>
					</li>
					<li class="border rounded px-6 py-4 flex-1 text-center">
						<h3 class="md:text-2xl">Query tasks with arbitrary text</h3>
						<p class="hidden md:block">You can find tasks by ordering them with simple and intuitive queries</p>
					</li>
					<li class="border rounded px-6 py-4 flex-1 text-center">
						<h3 class="md:text-2xl">Tagging and filtering tasks with ease</h3>
						<p class="hidden md:block">After quering you can tag all tasks with any tag, and use it in future filtering</p>
					</li>
				</ul>

				<ul class="md:flex gap-3 space-y-2 flex-wrap justify-center items-center">
					<li class="border rounded px-6 py-4 flex-1 text-center">
						<h3 class="md:text-2xl">Auto-improving by learning and mimic your unique way of work</h3>
					</li>
					<li class="border rounded px-6 py-4 flex-1 text-center">
						<h3 class="md:text-2xl">Smart & configurable notification system</h3>
					</li>
				</ul>
			</section>

			<section>
				<section class="p-4 space-y-6 border">
					<h2 class="text-center text-[2rem]">Philosophy</h2>
					<p class="text-base md:text-lg text-center">
						Modern todo apps are very complex and often lock you in with tedious learning processes and unintuitive UX. They may try to integrate LLMs, but without being built from the ground up for AI, they're not leveraging the full potential of this technology.
					</p>

					<div>
						<h3 class="text-2xl text-center mb-2">VALUES</h3>
						<ul class="flex flex-col md:flex-row gap-4 md:gap-8 justify-center items-center text-lg">
							<li class="border rounded px-4 py-2 text-center">Minimalistic, but functional</li>
							<li class="border rounded px-4 py-2 text-center">LLM-centric</li>
							<li class="border rounded px-4 py-2 text-center">Open for everyone</li>
							<li class="border rounded px-4 py-2 text-center">Minimize time spent in the app</li>
						</ul>
					</div>
				</section>
			</section>

			<section>
				
			</section>
		</main>
			
		<footer>

		</footer>
	<!-- HERO SECTION -->
</Root>


